<header class="navbar navbar-fixed-top navbar-default">
		<div class="container">
			<%= link_to "myRecipes", home_path, class: "btn btn-lg btn-succes", id: "logo" %> 
			<div class="nav_item">
				<%= link_to "Recipe Page", recipes_path, class: "btn btn-default btn-warning" %>
			</div>
			<div class="nav_item">
				<%= link_to "link 1", "", class: "btn btn-default btn-warning" %>
			</div>
			<div class="nav_item">
				<%= link_to "link 1", "", class: "btn btn-default btn-warning" %>
			</div>
		</div>
</header>